<div class="nav-wrapper">
    <div class="nav-inner container">
        <ul class="nav float-left">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
        <ul class="nav float-right">
            <LoginDisplay />
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
