<div class="footer-wrapper">
    <div class="container">
        <footer class="text-muted">
            <div class="container">

                <span>Site example is &copy; Comfy Coder, but please download and customize it for yourself!</span>
            </div>
        </footer>
    </div>
</div>