<div class="col-md-4">
    <div class="card mb-4 shadow-sm w-100">
        <img class="card-img-top" src="@ImageSrc" alt="@ImageAlt" />
        <div class="card-body">
            <h5 class="card-title">@Title</h5>
            <p class="card-text">
                <a href="@TargetUrl" class="card-link stretched-link">
                    @Description
                </a>
            </p>
        </div>
    </div>
</div>
