@page "/resources"

<h1>Blazor Resources</h1>

<h3 id="awesome-blazor">Awesome Blazor</h3>
<p><a href="https://github.com/AdrienTorris/awesome-blazor" target="_blank">Awesome Blazor - A Large Collection Of Blazor Resources</a></p>
<h3 id="deploying-blazor-apps">Deploying Blazor Apps</h3>
<p><a href="https://www.maneu.net/blog/2020-05-deploy-blazor-client-apps-with-azure-static-apps/" target="_blank">Deploy Blazor WebAssembly Apps To Azure Static Web Apps</a></p>
<h3 id="security">Security</h3>
<p><a href="https://chrissainty.com/securing-your-blazor-apps-authentication-with-clientside-blazor-using-webapi-aspnet-core-identity/" target="_blank">Authentication with client-side Blazor using WebAPI and ASP.NET Core Identity</a></p>
<h3 id="microsoft-learn">Microsoft Learn</h3>
<p><a href="https://docs.microsoft.com/en-us/learn/?source=learn target="_blank"">https://docs.microsoft.com/en-us/learn/?source=learn</a></p>
<h3 id="microsoft-docs">Microsoft Docs</h3>
<p><a href="https://docs.microsoft.com/en-us/search/?category=All&terms=blazor" target="_blank">Blazor Docs</a></p>
<h3 id="channel-9-videos">Channel 9 Videos</h3>
<p><a href="https://channel9.msdn.com/Events/dotnetConf/Focus-on-Blazor/Welcome-to-Blazor" target="_blank">Welcome To Blazor</a></p>
<p><a href="https://channel9.msdn.com/Events/Build/2020/INT169" target="_blank">Modern Web UI with Blazor WebAssembly</a></p>
<p><a href="https://www.youtube.com/watch?v=4pBcGmm6nCI&feature=push-fr&attr_tag=-yzxFpOZkBjHin81%3A6" target="_blank">Learn Studio Session: Build a WebAssembly app with Blazor &amp; VS Code</a> (Learn how to debug client-side)</p>
<h3 id="blazor-train-videos">Blazor Train Videos</h3>
<p><a href="https://blazortrain.com/" target="_blank">Carl Franklins Blazor Train</a></p>
<h3 id="thedotnetdocs-videos">TheDotNetDocs Videos</h3>
<p><a href="https://www.twitch.tv/thedotnetdocs" target="_blank">https://www.twitch.tv/thedotnetdocs</a></p>
<p><a href="https://www.twitch.tv/videos/661159908" target="_blank">Blazing into Summer with Ed Charbeneau</a></p>
<h3 id="pluralsight-training-videos">Pluralsight Training Videos</h3>
<p><a href="https://app.pluralsight.com/library/courses/getting-started-blazor/table-of-contents" target="_blank">Blazor: Getting Started</a></p>
<p><a href="https://app.pluralsight.com/library/courses/authentication-authorization-blazor-applications/table-of-contents" target="_blank">Authentication and Authorization in Blazor Applications</a></p>
<p><a href="https://app.pluralsight.com/library/courses/creating-blazor-components/table-of-contents" target="_blank">Creating Blazor Components</a></p>
<p><a href="https://app.pluralsight.com/library/courses/designing-building-enterprise-blazor-applications/table-of-contents" target="_blank">Designing and Building Enterprise Blazor Applications</a></p>
<p><a href="https://app.pluralsight.com/library/courses/javascript-interop-blazor-applications/table-of-contents" target="_blank">JavaScript Interop in Blazor Applications</a></p>
<h3 id="udemy-training-videos">Udemy Training Videos</h3>
<p><a href="https://www.udemy.com/course/programming-in-blazor-aspnet-core/" target="_blank">Programming in Blazor - ASP.NET Core 3.2</a></p>
<h2 id="github-repositories">GitHub Repositories</h2>
<h3 id="blazor-app-building-workshop">Blazor App Building Workshop</h3>
<p><a href="https://github.com/dotnet-presentations/blazor-workshop target="_blank"">https://github.com/dotnet-presentations/blazor-workshop</a></p>
<h3 id="ed-charbeneau">Ed Charbeneau</h3>
<p><a href="https://github.com/EdCharbeneau" target="_blank">https://github.com/EdCharbeneau</a></p>
<p><a href="https://github.com/EdCharbeneau/BlazePort" target="_blank">https://github.com/EdCharbeneau/BlazePort</a></p>
<h3 id="steve-sanderson">Steve Sanderson</h3>
<p><a href="https://github.com/SteveSandersonMS/CarChecker" target="_blank">https://github.com/SteveSandersonMS/CarChecker</a></p>
<h1 id="components">Components</h1>
<p><a href="https://www.telerik.com/blazor-ui" target="_blank">Telerik Kendo UI For Blazor Components</a> (Subscription)</p>
<p><a href="https://blazor.radzen.com/" target="_blank">Razden Blazor Components</a> (Free)</p>

