@page "/neutral"

<h1>Neutral Colors</h1>

<p>
    Neutral Colors – Gray, Brown. These aren’t on most color wheels, but they’re considered neutral because they don’t contrast with much of anything. They’re dull and uneventful. However, drop a little color in a headline and it will sing.
</p>