<div class="nav-menu">
    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="warm" Match="NavLinkMatch.Prefix">
                Warm
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="cool" Match="NavLinkMatch.Prefix">
                Cool
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="neutral" Match="NavLinkMatch.Prefix">
                Neutral
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="primary" Match="NavLinkMatch.Prefix">
                Primary
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="secondary" Match="NavLinkMatch.Prefix">
                Secondary
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="tertiary" Match="NavLinkMatch.Prefix">
                Tertiary
            </NavLink>
        </li>
    </ul>
</div>
