@layout MainLayout
@inherits LayoutComponentBase

<div class="area-menu">
    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="warm/red">
                Red
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="warm/yellow">
                Yellow
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="warm/orange">
                Orange
            </NavLink>
        </li>
    </ul>
</div>

<div class="main">
    @Body
</div>