@page "/counter"

<PageMetadata 
    ApplicationName="Blazor JsInterop" PageTitle="Counter" Author="Dennis Moon" RobotsFollow="true"
    Keywords="blazor, web, app, javascript, interop, local, storage, seo"
    Description="See how to interact with browser local storage using Blazor JavaScript Interop">
</PageMetadata>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary mr-2 mb-2" @onclick="IncrementCountAsync">Increment Count</button>
<button class="btn btn-primary mr-2 mb-2" @onclick="DecrementCountAsync">Decrement Count</button>
<button class="btn btn-primary mr-2 mb-2" @onclick="ResetCountAsync">Reset Count</button>
