@page "/tertiary"

<h1>Tertiary Colors</h1>

<p>
    Tertiary Colors – These are the colors formed by mixing a primary and a secondary color. That’s why the hue is a two word name, such as blue-green, red-violet, and yellow-orange.
</p>